
@media print {
  body * {
    visibility:hidden;
}
    tbody > tr > td, .table > tfoot > tr > td,thead:first-child > tr:first-child > th {
        border: 1px solid #000 !important;
    }
    .table > thead > tr > th {
        border: 2px solid #000;
    }
  .btn,.noPrint{
        display: none !important;
  }

 .printSection, #printSection, #printSection * {
    visibility:visible;
  }

  #printSection {
    position:absolute;
    left:10px;
    top:10px;
  }
}
