   <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Bank Branch
        <small>Form</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Accounting</a></li>
        <li><a href="#">Configuration</a></li>
        <li class="active">Bank Branch</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <form name="bankBranchForm" novalidate>
        <div class="row">
            <div class="col-lg-12 action-botton">
                <button type="button" ng-click="vm.ViewMode(1)" class="btn btn-app btn-default ">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    New
                </button>
                <button type="button" ng-show="vm.SaveButton" ng-click="vm.Save(bankBranchForm.$valid)" class="btn btn-app btn-default ">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save
                </button>
                <button type="button" ng-if="vm.isModal" ng-show="vm.SaveButton" ng-click="vm.SaveClose(collaboratorForm.$valid)" class="btn btn-app btn-default ">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Save & Close
                </button>
                <button type="button" ng-if="vm.isModal" ng-show="vm.EditButton" ng-click="vm.SelectClose()" class="btn btn-app btn-default ">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    Select & Close
                </button>
                <button type="button" ng-show="vm.EditButton" ng-click="vm.ViewMode(4)" class="btn btn-app btn-default ">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Edit
                </button>
                <button type="button" class="btn btn-app btn-default" ng-show="vm.UpdateButton" ng-click="vm.Update(bankBranchForm.$valid)">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    Update
                </button>
                <button type="button" class="btn btn-app btn-default " ng-print print-element-id="printThisElement">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    Print
                </button>
                <button type="button" ng-show="vm.DeleteButton" ng-really-message="Are you sure ?" ng-really-click="vm.Delete()" class="btn btn-app btn-default ">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Delete
                </button>
                <button type="button" ng-show="vm.CancelButton" ng-click="vm.ViewMode(2)" class="btn btn-app btn-primary">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Cancel
                </button>
                <button type="button" ng-if="vm.isModal" ng-click="vm.mClose()" class="btn btn-app btn-primary">
                    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    Close
                </button>
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="entry-form" ng-show="vm.FromView">
                        <div class="box-header with-border">
                            <h3 class="box-title" ng-if="vm.SaveButton">Add New Bank Branch</h3>
                            <h3 class="box-title" ng-if="vm.UpdateButton">Edit Bank Branch</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-lg-12">
                                <div class="col-lg-6 animated fadeinright">
                                    <div class="form-group"
                                         ng-class="{'has-error':bankBranchForm.txtBankBranchCode.$invalid
                                         && bankBranchForm.txtBankBranchCode.$dirty}">

                                        <label for="txtBankBranchCode">
                                            BankBranch Code
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="txtBankBranchCode"
                                               name="txtBankBranchCode"
                                               ng-model="vm.bankBranch.BankBranchCode"
                                               placeholder="Enter BankBranchCode"
                                               required>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{'has-error':bankBranchForm.txtBankBranchName.$invalid
                                         && bankBranchForm.txtBankBranchName.$dirty}">

                                        <label for="txtBankBranchName">
                                            BankBranchName
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="txtBankBranchName"
                                               name="txtBankBranchName"
                                               ng-model="vm.bankBranch.BankBranchName"
                                               placeholder="Enter BankBranchName"
                                               required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group"
                                         ng-class="{'has-error':bankBranchForm.cmbBank.$invalid
                                         && bankBranchForm.cmbBank.$dirty}">

                                        <label for="cmbBank">
                                            Bank
                                        </label>
                                        <select class="form-control"
                                                id="cmbBank"
                                                name="cmbBank"
                                                ng-model="vm.cmbBanks"
                                                ng-options="Bank.BankName for Bank in vm.banks track by Bank.BankID "
                                                ng-change="vm.bankBranch.BankID=vm.cmbBanks.BankID"></select>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{'has-error':bankBranchForm.txtSwiftCode.$invalid
                                         && bankBranchForm.txtSwiftCode.$dirty}">

                                        <label for="txtSwiftCode">
                                            SwiftCode
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="txtSwiftCode"
                                               name="txtSwiftCode"
                                               ng-model="vm.bankBranch.SwiftCode"
                                               placeholder="Enter SwiftCode"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <tabset>
                                    <tab heading="Address" active="true">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="txtStreet">
                                                    Street
                                                </label>
                                                <textarea class="form-control"
                                                          id="txtStreet"
                                                          name="txtStreet"
                                                          ng-model="vm.bankBranch.Street"
                                                          rows=" 3"></textarea>
                                            </div>

                                            <div class="form-group">

                                                <label for="txtPOBox">
                                                    PO Box
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="txtPOBox"
                                                       name="txtPOBox"
                                                       ng-model="vm.bankBranch.POBox"
                                                       placeholder="Enter POBox">
                                                <label for="txtPostalCode">
                                                    Postal Code
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="txtPostalCode"
                                                       name="txtPostalCode"
                                                       ng-model="vm.bankBranch.PostalCode"
                                                       placeholder="Enter PostalCode"
                                                       required>
                                            </div>
                                            <div class="form-group">

                                                <label for="txtPhone">
                                                    Phone
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="txtPhone"
                                                       name="txtSwiftCode"
                                                       ng-model="vm.bankBranch.Phone"
                                                       placeholder="Enter Phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">

                                            <div class="form-group">

                                                <label for="cmbCountry">
                                                    Country
                                                </label>
                                                <select class="form-control"
                                                        ng-model="vm.cmbcountrys"
                                                        ng-options="country.CountryName for country in vm.countrys track by country.CountryID "
                                                        ng-change="vm.selectCity(vm.cmbcountrys.CountryID)"></select>
                                            </div>
                                            <div class="form-group">

                                                <label for="cmbCity">
                                                    City
                                                </label>
                                                <select class="form-control"
                                                        ng-model="vm.cmbCitys"
                                                        ng-options="city.CityName for city in vm.citys track by city.CityID "></select>
                                            </div>
                                            <div class="form-group"
                                                 ng-class="{'has-error':bankBranchForm.txtEmailID.$invalid
                                         && bankBranchForm.txtEmailID.$dirty}">

                                                <label for="txtEmailID">
                                                    EmailID
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="txtEmailID"
                                                       name="txtEmailID"
                                                       ng-model="vm.bankBranch.EmailID"
                                                       placeholder="Enter EmailID"
                                                       required>
                                            </div>
                                            <div class="form-group">

                                                <label for="txtFax">
                                                    Fax
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="txtFax"
                                                       name="txtFax"
                                                       ng-model="vm.bankBranch.Fax"
                                                       placeholder="Enter Fax">
                                            </div>
                                        </div>

                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                    <div class="view-form" ng-show="vm.DetailsView">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bank Branch Details</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-lg-12">
                                <div class="col-lg-6 animated fadeinright">
                                    <div class="form-group">

                                        <label for="txtBankBranchCode">
                                            BankBranch Code
                                        </label>
                                        <pre>{{vm.bankBranch.BankBranchCode}}</pre>
                                    </div>
                                    <div class="form-group">

                                        <label for="txtBankBranchName">
                                            Bank Branch Name
                                        </label>
                                        <pre>{{vm.bankBranch.BankBranchName}}</pre>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">

                                        <label for="cmbBank">
                                            Bank
                                        </label>
                                        <pre>{{vm.bankBranch.Bank.BankName}}</pre>
                                    </div>
                                    <div class="form-group">

                                        <label for="txtSwiftCode">
                                            Swift Code
                                        </label>
                                        <pre>{{vm.bankBranch.SwiftCode}}</pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <tabset>
                                    <tab heading="Address" active="true">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="txtStreet">
                                                    Street
                                                </label>
                                                <pre>{{vm.bankBranch.Street}}</pre>
                                            </div>

                                            <div class="form-group">

                                                <label for="txtPOBox">
                                                    PO Box
                                                </label>
                                                <pre>{{vm.bankBranch.POBox}}</pre>
                                                <label for="txtPostalCode">
                                                    Postal Code
                                                </label>
                                                <pre>{{vm.bankBranch.PostalCode}}</pre>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtPhone">
                                                    Phone
                                                </label>
                                                <pre>{{vm.bankBranch.Phone}}</pre>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">

                                            <div class="form-group">

                                                <label for="cmbCountry">
                                                    Country
                                                </label>
                                                <pre>{{vm.bankBranch.Country.CountryName}}</pre>
                                            </div>
                                            <div class="form-group">

                                                <label for="cmbCity">
                                                    City
                                                </label>
                                                <pre>{{vm.bankBranch.City.CityName}}</pre>
                                            </div>
                                            <div class="form-group">

                                                <label for="txtEmailID">
                                                    EmailID
                                                </label>
                                                <pre>{{vm.bankBranch.EmailID}}</pre>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtFax">
                                                    Fax
                                                </label>
                                                <pre>{{vm.bankBranch.Fax}}</pre>
                                            </div>
                                        </div>

                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 box " ng-show="vm.ListView">
                        <div class="box-header with-border">
                            <h3 class="box-title">Bank Branch List</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="example1_length">
                                        <label>
                                            Show <select ng-init="vm.num=5" ng-model="vm.num" class="form-control input-sm">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" placeholder="" ng-model="searchText"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 animated fadeInRight">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="printThisElement">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Bank</th>
                                                <th>BankBranchName</th>
                                                <th>SwiftCode</th>
                                                <th class="noPrint">Preview</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="bankBranch in vm.bankBranchs|orderBy:'-BankBranchID'|filter:searchText| itemsPerPage: vm.num ">
                                                <td>{{bankBranch.BankBranchCode  | uppercase}}</td>
                                                <td>{{bankBranch.Bank.BankName}}</td>
                                                <td>{{bankBranch.BankBranchName}}</td>
                                                <td>{{bankBranch.SwiftCode}}</td>

                                                <td class="noPrint">
                                                    <button type="button" ng-click="vm.Get(bankBranch.BankBranchID)" data-skin="skin-blue" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/setting/common/template/dirPagination.tpl.html"></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section><!-- /.content -->
