

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            City  
            <small>Form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Setting</a></li>
            <li><a href="#">Common</a></li>
            <li class="active">City</li>
        </ol>
    </section>
<!-- Main content -->
<section class="content">
    <form name="cityForm" novalidate>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" ng-click="vm.ViewMode(1)" class="btn btn-app btn-primary"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> New</button>
                <button type="button" ng-show="vm.SaveButton" ng-click="vm.Save(cityForm.$valid)" class="btn btn-app btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                <button type="button" ng-show="vm.EditButton" ng-click="vm.ViewMode(4)" class="btn btn-app btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
                <button type="button" ng-show="vm.UpdateButton" ng-click="vm.Update(cityForm.$valid)" class="btn btn-app btn-default "><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update</button>
                <button type="button" ng-print print-element-id="printThisElement" class="btn btn-app btn-primary"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                <button type="button" ng-show="vm.DeleteButton" ng-really-message="Are you sure ?" ng-really-click="vm.Delete()" class="btn btn-app btn-default "><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                <button type="button" ng-show="vm.CancelButton" ng-click="vm.ViewMode(2)" class="btn btn-app btn-primary"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="entry-form" ng-show="vm.FromView">
                        <div class="box-header with-border">
                            <h3 class="box-title" ng-if="vm.SaveButton">Add New City</h3>
                            <h3 class="box-title" ng-if="vm.UpdateButton">Edit City</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-lg-6 animated fadeInRight">

                                <div class="form-group" ng-class="{'has-error':cityForm.txtCityCode.$invalid && cityForm.txtCompanyTypeCode.$dirty}">
                                    <label for=" inputcitycode">
                                        City Code
                                    </label>
                                    <input ng-show="vm.EditView" type="text" class="form-control" id="txtCityCode" name="txtCityCode"
                                           ng-model="vm.city.CityCode" required
                                           placeholder="Enter city Code">

                                </div>
                                <div class="form-group" ng-class="{'has-error':cityForm.txtCityName.$invalid && cityForm.txtCityName.$dirty}">
                                    <label for="InputCityName">City Name</label>
                                    <input ng-show="vm.EditView" type="text" class="form-control" id="txtCityName" name="txtCityName"
                                           ng-model="vm.city.CityName"
                                           placeholder=" enter city name">

                                </div>
                                <div class="form-group">
                                    <label for="InputCityName">Country</label>
                                    <select class="form-control" ng-model="vm.cmbcountrys"
                                            ng-options="country.CountryName for country in vm.countrys track by country.CountryID "
                                            ng-change="vm.ChangeCountry()"></select>
                                </div>
                                <div class="form-group">
                                    <label for="InputCityRemarks">Remarks</label>
                                    <textarea ng-show="vm.EditView" class="form-control" id="txtCityRemarks"
                                              ng-model="vm.city.Remarks"
                                              rows=" 3"></textarea>

                                </div>


                            </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                        </div>

                    <div class="view-form" ng-show="vm.DetailsView">
                        <div class="box-header with-border">
                            <h3 class="box-title">City Details</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                                <div class="col-lg-6 animated fadeInRight">

                                    <div class="form-group">
                                        <label for=" inputCitycode">
                                            City Code
                                        </label>
                                        <pre>{{vm.city.CityCode}}</pre>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputCityName">City</label>
                                        <pre>{{vm.city.CityName}}</pre>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputCountryName">Country</label>
                                        <pre>{{vm.city.Country.CountryName}}</pre>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputCityRemarks">Remarks</label>
                                        <pre><p>{{vm.city.Remarks}}</p></pre>
                                    </div>


                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>
                        </div>

                    <div class="col-lg-12 box " ng-show="vm.ListView">
                        <div class="box-header with-border">
                            <h3 class="box-title">City List</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="dataTables_length" id="example1_length">
                                        <label>
                                            Show <select ng-init="vm.num=5" ng-model="vm.num" class="form-control input-sm">
                                                <option value="5">5</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" placeholder="" ng-model="searchText"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 animated fadeInRight">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="printThisElement">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Code</th>
                                                <th>City</th>
                                                <th>Country</th>
                                                <th class="noPrint">Preview</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr dir-paginate="city in vm.citys|filter:searchText|  itemsPerPage: vm.num" >
                                                <td>{{$index+vm.serial}}</td>
                                                <td>{{city.CityCode  | uppercase}}</td>
                                                <td>{{city.CityName}}</td>
                                                <td>{{city.Country.CountryName}}</td>

                                                <td class="noPrint">
                                                    <button type="button" ng-click="vm.Get(city.CityID)" data-skin="skin-blue" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                    <dir-pagination-controls boundary-links="true" on-page-change="vm.indexCount(newPageNumber)" template-url="app/setting/common/template/dirPagination.tpl.html"></dir-pagination-controls>

                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>   <!-- /.row -->
    </form>
</section><!-- /.content -->
