
<div class="row">
    <div class="col-lg-4 breadcrumb-panel">

        <ol class="breadcrumb">

            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active"><a href="#">Data</a></li>
        </ol>

    </div>
    <div class="col-lg-3 title-panel "><h4>City</h4></div>
    <div class="col-lg-3 search-panel">
        <div class="input-group">
            <input type="text" ng-focus="vm.ViewMode(2)" ng-model="searchText" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
    <div class="col-lg-2 button-panel">
        <!-- /input-group -->
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> <span class="glyphicon glyphicon-stats"></span>
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> <span class="glyphicon glyphicon-credit-card"></span>
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option3" autocomplete="off"> <span class="glyphicon glyphicon-tasks"></span>
            </label>
        </div>
    </div>
</div>
<form name="cityForm" novalidate>
    <div class="row">
        <div class="col-lg-12 action-botton">
            <button type="button" ng-click="vm.ViewMode(1)" class="btn btn-default "><span class="glyphicon glyphicon-file" aria-hidden="true"></span> New</button>
            <button type="button" ng-show="vm.SaveButton" ng-click="vm.Save(cityForm.$valid)" class="btn btn-default "><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
            <button type="button" ng-show="vm.EditButton" ng-click="vm.ViewMode(4)" class="btn btn-default "><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
            <button type="button" ng-show="vm.UpdateButton" ng-click="vm.Update(cityForm.$valid)" class="btn btn-default "><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update</button>
            <button type="button" ng-print print-element-id="printThisElement" class="btn btn-default "><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
            <button type="button" ng-show="vm.DeleteButton" ng-click="vm.Delete()" class="btn btn-default "><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
            <button type="button" ng-click="vm.ViewMode(2)" class="btn btn-default "><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </div>
    </div>


    <div class="row ">
        <div class="col-lg-12 panel panel-default">
            <div class="panel-body">
                <div class="entry-form" ng-show="vm.FromView">
                    <div class="col-lg-6 animated fadeInRight">

                        <div class="form-group" ng-class="{'has-error':cityForm.txtCityCode.$invalid && cityForm.txtCompanyTypeCode.$dirty}">
                            <label for=" inputcitycode">
                                City Code
                            </label>
                            <input ng-show="vm.EditView" type="text" class="form-control" id="txtCityCode" name="txtCityCode"
                                   ng-model="vm.city.CityCode" required
                                   placeholder="Enter city Code">

                        </div>
                        <div class="form-group" ng-class="{'has-error':cityForm.txtCityName.$invalid && cityForm.txtCityName.$dirty}">
                            <label for="InputCityName">City Name</label>
                            <input ng-show="vm.EditView" type="text" class="form-control" id="txtCityName" name="txtCityName"
                                   ng-model="vm.city.CityName"
                                   placeholder=" enter city name">

                        </div>
                        <div class="form-group">
                            <label for="InputCityName">Country</label>
                            <select class="form-control" ng-model="vm.cmbcountrys"
                                    ng-options="country.CountryName for country in vm.countrys track by country.CountryID "
                                    ng-change="vm.ChangeCountry()"></select>
                        </div>
                        <div class="form-group">
                            <label for="InputCityRemarks">Remarks</label>
                            <textarea ng-show="vm.EditView" class="form-control" id="txtCityRemarks"
                                      ng-model="vm.city.Remarks"
                                      rows=" 3"></textarea>

                        </div>


                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>

<div class="view-form" ng-show="vm.DetailsView">
    <div class="col-lg-6 animated fadeInRight">

        <div class="form-group">
            <label for=" inputCitycode">
                City Code
            </label>
            <pre>{{vm.city.CityCode}}</pre>
        </div>
        <div class="form-group">
            <label for="InputCityName">City</label>
            <pre>{{vm.city.CityName}}</pre>
        </div>
        <div class="form-group">
            <label for="InputCountryName">Country</label>
            <pre>{{vm.city.Country.CountryName}}</pre>
        </div>
        <div class="form-group">
            <label for="InputCityRemarks">Remarks</label>
            <pre><p>{{vm.city.Remarks}}</p></pre>
        </div>


    </div>
    <div class="col-lg-6">

    </div>
</div>

<div class="col-lg-12 list-form " ng-show="vm.ListView">
    <div class="col-lg-12 animated fadeInRight">
        <div class="table-responsive">
            <table class="table table-hover" id="printThisElement">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>City</th>
                        <th>Country</th>
                        <th class="noPrint">Edit</th>
                    </tr>

                </thead>
                <tbody>
                    <tr dir-paginate="city in vm.citys|filter:searchText| itemsPerPage: 5">
                        <td>{{city.CityCode  | uppercase}}</td>
                        <td>{{city.CityName}}</td>
                        <td>{{city.Country.CountryName}}</td>
                        
                        <td class="noPrint">
                            <button type="button" ng-click="vm.Get(city.CityID)" class="btn btn-default ">
                                View
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/setting/common/template/dirPagination.tpl.html"></dir-pagination-controls>

        </div>
    </div>
</div>
        </div>
    </div>
</div>
